body {
	background-image: url("../images/JJKevin.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
}

button {
    font-size: 14px; 
    font-family: Comic Sans MS;
    color: black;
    background-color: white;
    border-radius: 25%;
    border-style: groove;
    padding: 5px;
}

.memory {
    margin: 0 auto;
    display: table;
}

#container {
    max-width: 425px;
    width: 100%;
    margin-top: 10em;
    margin-right: auto;
    margin-bottom: 5em;
    margin-left: auto;
    position: relative;
    border-style: solid;
}

#container p {
    text-align: center;
    margin: 0;
    top: 50%;
    color: black;
    background-color: white;
    font-family: Comic Sans MS;

}

#birthday {
    font-size: 18px;
}

