body {
	background: url("../images/resume.jpeg");
	background-size: cover;
}

#slogan {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

h1 {
	text-align: center;
	color: #114761;
	border-radius: 10px;
	font-size: 48px;
}

ul {
	list-style-type: none;
	color: #114761;
}

#main-nav {
	text-align: center;
	text-transform: uppercase;
	color: #114761;
}

p {
	color: #114761;
}

#headshot {
	position: center;

}

.imgframe {
	background: #114761;
	padding: 5px;
	border: 1px solid #ffffff;
}