body {
	background: url("../images/CloudGif.jpeg");
	background-size: cover;
}

#slogan {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

h1 {
	text-align: center;
	color: #ffffff;
	border-radius: 10px;
}

ul {
	list-style-type: none;
	color: #ffffff;
}

#main-nav {
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

p {
	color: #ffffff;
}

#headshot {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#timeline {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}