@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Shadows+Into+Light');

/* Elements */
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Nanum Pen Script', cursive;
	line-height: 1.5;
	font-size: 24px;
    border: 1px black solid;
}

header {
	margin-bottom: 20px;
}


p {
	margin-top: 1em;
    padding: 1px;
}


a {
	color: #3366BB;
}


h1 {
	font-size: 48px;
	text-align: center;
}

h2 {
	font-size: 24px;
	text-align: center;
    font-weight: bolder;
}

h3 {
	font-size: 18px;
	text-align: center;
}

ul {

    list-style-image: url("../images/checkmark.png");
    padding-left: 50px;
    line-height: .5px;
}


li {
    text-align: left;

}

img{
}

footer {
	background: #ffffff;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}


/* Classes */

.a {
    color: #3366BB;
    padding-left: 20px;
    margin: 4px;
}

.li_nav {
    text-align: center;

}

.imgframe {
	padding: 5px;
	margin: 0 auto;
	border: 2px solid #ffffff;
}

.circle {
    border: 2px solid black;
    border-radius: 50%;
    width: 125px;
    margin: 75px;
}

.hero {
	text-align: center;
	width: 100%;
	padding: 10px 10px 15px 10px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
}

.strong {
	font-weight: bold;
}

.logo {
	background-color: #FFFFA5;
    border: 1px black solid;
    float: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix img {
	display: block;

}

.skills {
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	padding: 10px 10px 10px 10px;

}

.inner_header_wrapper {
    min-width: 425px;
    min-height: 325px;
    float: left;
    margin-top: 1em;
    margin-right: 5em;
    margin-bottom: 1em;
    margin-left: 5em;

}

.header_wrapper {
    max-width: 1400px;
    margin: auto;

}

.polaroid {
    background: url("../images/polaroid.png");
    background-repeat: no-repeat;
    transform: rotate(3deg);
}

.header_notecard {
    background: url("../images/Notecard.jpg");
    background-repeat: no-repeat;
    border: .5px gray solid;
    width: 375px;
    height: 225px;
    padding-top: 90px;
    margin: 0 auto;
    text-align: center;
}

.page_jump {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 5px 0px 5px 0px;
}


.two_column {
    background: url("../images/corkboardwall.jpg");
    border: 1px black solid;
    width: 100%;
}

.inner_wrapper {
    max-width: 470px;
}

.yellow_post_it {
    background-color: #FFFFA5;
    border: 1px black solid;
    float: left;
    margin: 2% 5% 2% 5%;
    text-align: center;
    transform: rotate(3deg);
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
}

.yellow_post_it_twist {
    background-color: #FFFFA5;
    border: 1px black solid;
    float: left;
    margin: 2% 5% 2% 5%;
    text-align: center;
    transform: rotate(-3deg);
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
}

.notecard {
    background: url("../images/Notecard.jpg");
    border: 1px black solid;
    float: left;
    width: 380px;
    margin-left: 10px;
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 5px 5px 9px rgba(0,0,0,.6);
}

.notecard_twist {
    background: url("../images/Notecard.jpg");
    border: 1px black solid;
    float: left;
    width: 380px;
    margin-left: 10px;
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    transform: rotate(-3deg);
    box-shadow: 5px 5px 9px rgba(0,0,0,.6);
}

/* IDs */

